.banner2-movies-list {
	display: flex;
	padding-left: 60px;
	overflow: hidden;
	position: relative;
	bottom: 60px;
	margin-bottom: 50px;
	overflow-x: scroll;
}

.movies-container {
	display: flex;
}

.banner2-movie {
	background-image: url(../../images/bg-coldwar.png);
	height: 255px;
	width: 420px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.banner2-circle {
	width: 97px;
	height: 97px;
	background-color: rgba(20, 20, 20, 0.32);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner2-underline {
	margin-top: 30px;
	color: #fff;
}

.banner2-movies-list .list3-title {
	display: none;
}

@media only screen and (max-width: 1100px) {
	.banner2-movies-list {
		position: static;
		padding-left: 7px;
		margin-bottom: 18px;
		display: flex;
		flex-direction: column;
	}

	.banner2-movie {
		width: 100px;
		height: 138px;
		margin-right: 7px;
	}

	.movies-container {
		display: flex;
	}

	.banner2-underline {
		font-size: 10px;
		width: 100px;
		height: 37px;
		margin: 0px;
	}

	.banner2-circle {
		width: 52px;
		height: 52px;
	}
}
