.nav-container {
	padding: 18px 60px;
	background-color: #000;
}

nav {
	display: flex;
	justify-content: space-between;
	color: white;
	align-items: center;
}

.flex-start {
	display: flex;
}

.flex-start .logo {
	margin-right: 37px;
}

.flex-start ul {
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
}

.flex-start ul li {
	list-style: none;
	font-size: 16px;
	line-height: 19px;
	margin: 0px 8px;
}

.flex-end {
	display: flex;
}

.flex-end i {
	margin: 0px 8px;
}

.flex-end .user-name {
	margin: 0px 8px;
	padding-bottom: 10px;
}

.nav-dropdown {
	display: none;
	position: absolute;
	padding: 5px;
	right: 100px;
	top: 50px;
}

.active {
	display: block;
}

@media only screen and (max-width: 1100px) {
	.flex-end {
		display: none;
	}

	.nav-container ul {
		display: none;
	}

	.flex-start .logo {
		margin-right: 0px;
	}

	nav {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.phone-tv {
		position: absolute;
		right: 25px;
	}

	.nav-container {
		padding: 0px;
		margin: 27px 0px;
	}
}
