.banner2 {
	color: #ffffff;
	background-size: cover;
	background-image: url(../../images/banner2.png);
}

.liner-div {
	width: inherit;
	height: initial;
	background: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0.0001) 0%,
		rgba(88, 88, 88, 0.275192) 44.15%,
		rgba(9, 9, 9, 0.745697) 65.32%,
		#000000 78.86%
	);
}

.banner2-title {
	margin-bottom: 34px;
}

.banner2-movie-name {
	margin-bottom: 26px;
}

.banner2-release {
	font-size: 26px;
	margin-bottom: 7px;
}

.banner2-discrip {
	font-size: 20px;
}

.banner2 .content {
	width: 580px;
	padding-bottom: 114px;
}

@media only screen and (max-width: 1100px) {
	.banner2 {
		display: none;
	}
}
