.banner {
	color: white;
	background-image: url(../../images/banner.png);
	background-size: cover;
}

.content {
	padding-top: 64px;
	padding-bottom: 129px;
	padding-left: 60px;
	width: 438px;
}

.author {
	margin-bottom: 12px;
}

.movie-name {
	margin-bottom: 24px;
}

.season {
	margin-bottom: 12px;
}

.discrip {
	margin-bottom: 42px;
}

.buttons button {
	padding: 10px 36px;
	border: none;
	border-radius: 4px;
	margin-right: 15px;
	background-color: rgba(0, 0, 0, 0.32);
	color: #fff;
	font-size: 16px;
	line-height: 18px;
}
